.wave {
  animation: waving 2s ease-in-out infinite;
  width: 1em;
}

@keyframes waving {
  from {
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(-30deg);
  }
}